* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

.top-nav-container {
  grid-area: top-navbar;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
  height: 100%;
  margin-left: 0;
}

.aside-nav-container {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.3s;
  /* grid-area: aside-nav; */
  box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.3);
  background: #fff;
  z-index: 1;
}

.carousel-container {
  display: grid;
  grid-area: carousel-section;
  grid-template-columns: 1fr;

  /* background-color: black; */
}

.content-title {
  /* background-color: grey; */
  margin-top: 50px;
  /* padding-left: 40px;*/
  margin-left: 50px;
  grid-area: content-title;
}

.content-container {
  /* background-color: black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 20px;
  padding-bottom: 80px;
  grid-area: content-section;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "top-navbar "
    "carousel-section "
    "content-title "
    "content-section ";
}

/* Top Navigation */
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  font-size: 13px;
  /* cursor: pointer; */
}

.top-nav .logo {
  display: flex;
  width: 130px;
  margin-right: 40px;
}

.top-nav ul {
  align-items: center;
  display: flex;
}

.top-nav ul li {
  color: #424242;
  margin-left: 10px;
  font-size: 13pt;
  padding: 0 10px;
}

/* .top-nav ul li:nth-child(1) {
  display: none;
} */

.top-nav ul li .topnav-btn i {
  font-size: 26px;
}

.top-nav ul li i {
  font-size: 20px;
  cursor: pointer;
}

.top-nav ul li input {
  background: #fff;
  margin-left: 60px;
  padding: 0 20px;
  border: 1px solid #cacaca;
  width: 350px;
  height: 43px;
  border-radius: 35px;
}

/* Aside Navigation */
.profile-container {
  text-align: center;
  margin: 60px auto;
}

.profile-container img {
  width: 140px;
  height: 140px;
  border-radius: 70%;
}

.profile-container h3 {
  margin-top: 20px;
}

.aside-nav {
  width: 300px;
  display: block;
}

.aside-nav ul li {
  margin: 20px 0px 30px 30px;
  text-align: left;
  font-size: 13pt;
  font-weight: 520;
}

.aside-nav ul li a:hover {
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom: 2px solid #ccc;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu-btn i {
  font-size: 18pt;
}

/* carousel container */

/* test */

.card-carousel-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  /* background: rgb(7, 62, 214); */
}

.carousel-card {
  border-radius: 15px;
  width: 66%;
  height: 250px;

  margin-right: 10px;
  background: #ccc;
  counter-increment: carousel-card;
}

/* test */

/* .carousel-card {
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 100px;
  width: 280px;
  border-radius: 20px;
}

.carousel-image-card img {
  height: 180px;
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}

*/

.carousel-image-card img {
  height: 250px;
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
  position: relative;
  /* z-index: 0; */
}

.carousel-text {
  width: 100%;
  position: absolute;
  top: 106px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  padding: 40px;
  border-radius: 0px 0px 15px 15px;
}

.carousel-text p {
  margin-top: 10px;
}
/* Content Section */

.card-container {
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: auto;
  border-radius: 20px;
}

.card-container img {
  height: 180px;
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-text-container {
  padding: 10px 32px;
}

.card-text-container h3 {
  text-align: center;
  margin-bottom: 10px;
}

/* media 700px */
@media screen and (max-width: 1200px) {
  /* content title */
  .content-title {
    /* background-color: grey; */
    margin-top: 10px;
    margin-left: 0;
    grid-area: content-title;
  }

  .content-title h2 {
    text-align: center;
  }

  /* content-section */
  .content-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding-bottom: 80px;
    grid-area: content-section;
  }

  /* top-navbar */
  .top-nav-container {
    /* display: none; */
    width: auto;
    grid-area: top-navbar;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
    height: 100%;
    /* margin-left: 0; */
  }

  .top-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    font-size: 13px;
    /* cursor: pointer; */
  }

  .top-nav .logo {
    /* flex-direction: column;
    display: flex; */
    display: none;
    width: 130px;
    /* margin-right: 40px; */
  }

  .top-nav ul {
    /* margin-left: 60px; */
    margin: 0 auto;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    display: flex;
  }

  .top-nav ul li {
    color: #424242;
    margin: 0 auto;
    font-size: 13pt;
    padding: 0 10px;
  }

  .top-nav ul li:nth-child(1) {
    display: flex;
    position: absolute;
    left: 15px;
  }

  .top-nav ul li i {
    font-size: 20px;
    cursor: pointer;
  }

  .top-nav ul li input {
    /* display: none; */
    background: #fff;
    margin: 0;
    padding: 0 20px;
    width: auto;
    border: 1px solid #cacaca;
    height: 30px;
    border-radius: 35px;
  }

  /* aside-navbar */
  .aside-nav-container {
    height: 100%;
    width: 0;
    position: relative;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.3s;
    box-shadow: none;
    background: #fff;
    z-index: 5;
  }

  .menu-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .menu-btn i {
    font-size: 18pt;
  }

  /* carousel-section */
  .carousel-container {
    /* display: none; */
    grid-area: carousel-section;
    grid-template-columns: 1fr;
  }

  /* aside-navbar */
  .aside-nav-container {
    height: 100%;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.3s;
    box-shadow: none;
    background: #fff;
    z-index: 1;
  }

  .aside-nav ul li {
    margin: 20px 0px 30px 90px;
    text-align: left;
    font-size: 13pt;
    font-weight: 520;
  }

  /* grid-container */
  .grid-container {
    display: grid;
    grid-template-areas:
      "top-navbar"
      "carousel-section"
      "content-title"
      "content-section";
  }
}

@media screen and (max-width: 660px) {
  .top-nav ul {
    /* margin-left: 60px; */
    margin-left: 60px;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  .top-nav ul {
    /* margin-left: 60px; */
    margin-left: 90px;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    display: flex;
  }
  .top-nav ul li input {
    display: flex;
    width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .top-nav ul {
    /* margin-left: 60px; */
    margin-left: 80px;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    display: flex;
  }
  .top-nav ul li input {
    display: none;
  }

  .carousel-text {
    width: 100%;
    position: absolute;
    top: 121px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 0px 0px 15px 15px;
  }

  .carousel-text h2 {
    font-size: 14pt;
  }

  .carousel-text p {
    margin-top: 10px;
    font-size: 11pt;
  }
}

/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}
.flickity-enabled:focus {
  outline: 0;
}
.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}
.flickity-button:hover {
  background: #fff;
  cursor: pointer;
}
.flickity-button:focus {
  outline: 0;
  box-shadow: 0 0 0 5px #ccc;
}
.flickity-button:active {
  opacity: 0.6;
}
.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  pointer-events: none;
}
.flickity-button-icon {
  fill: currentColor;
  margin-top: -130px;
}
.flickity-prev-next-button {
  margin-right: 20px;
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transform: translateY(-50%);
}
.flickity-prev-next-button.previous {
  /* left: 10px; */
  margin-left: 40px;
}
.flickity-prev-next-button.next {
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}
.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
  display: none;
}

@media screen and (max-width: 700px) {
  .flickity-prev-next-button {
    margin-right: 0px;
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  .flickity-prev-next-button.previous {
    left: -25px;
    /* margin-left: 40px; */
  }
}
.modal-content button {
  float: right;
  width: 204px;
  height: 40px;
  margin-bottom: 120px;
  background: #fbcc38;
  border-radius: 15px;
}
button {
  margin-top: 150px;
}
.test {
  float: right;
  width: 1150px;
}
.button:hover {
  color: orangered;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  height: 50%;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}
.closeBtn {
  float: right;
  color: #ccc;
  font-size: 30px;
}
.closeBtn:hover,
.closeBtn:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
.wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 20% 80%;
}
.content1 {
  display: grid;
  grid-template-rows: 30% 30% 30%;
}
.content2 {
  display: grid;
  width: 900px;
  grid-template-rows: 30% 30% 30%;
}
.content1 h3 {
  margin-top: 40px;
  margin-left: 80px;
}
.content2 input {
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.content2 textarea {
  margin-top: 15px;
  height: 90px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
